<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alpha.ghosty.automobilemanager">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:clearTaskOnLaunch="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuPage"
            android:label="@string/title_activity_menu_page"
            android:noHistory="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".AddVehicle"
            android:label="@string/title_activity_add_vehicle"
            android:noHistory="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".AddFuelFillData"
            android:label="@string/title_activity_add_fuel_fill_data"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".AddServiceData"
            android:label="@string/title_activity_add_service_data"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".AddOtherExpenses"
            android:label="@string/title_activity_add_other_expenses"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".AddTripRecord"
            android:label="@string/title_activity_add_trip_record"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".UserSetting"
            android:label="@string/title_activity_user_setting"
            android:noHistory="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".VehicleDetails"
            android:label="@string/title_activity_vehicle_details"
            android:noHistory="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Statistics"
            android:label="@string/title_activity_statistics"
            android:noHistory="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".DataBackupRestore"
            android:label="@string/title_activity_data_backup_restore"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Reminders"
            android:label="@string/title_activity_reminders"
            android:noHistory="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".OtherOptions"
            android:label="@string/title_activity_other_options"
            android:noHistory="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".AppLock"
            android:label="@string/title_activity_app_lock"/>
        <activity
            android:name=".UserRegistration"
            android:label="@string/title_activity_user_registration"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".FuelFillDataView"
            android:label="@string/title_activity_fuel_fill_data_view"
            android:noHistory="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".OtherExpensesView"
            android:label="@string/title_activity_other_expenses_view"
            android:noHistory="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ServiceDataView"
            android:label="@string/title_activity_service_data_view"
            android:noHistory="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".TripRecordView"
            android:label="@string/title_activity_trip_record_view"
            android:noHistory="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ShowRecords"
            android:label="@string/title_activity_show_records"
            android:noHistory="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".EditVehicleDetails"
            android:label="@string/title_activity_edit_vehicle_details"
            android:noHistory="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".AddNewReminder"
            android:label="@string/title_activity_add_new_reminder"
            android:noHistory="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".AddInsurance"
            android:label="@string/title_activity_add_insurance"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".InsuranceRecordView"
            android:label="@string/title_activity_insurance_record_view"
            android:noHistory="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ForgetPassword"
            android:label="@string/title_activity_forget_password"
            android:noHistory="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SpareParts"
            android:label="@string/title_activity_spare_parts"
            android:noHistory="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".AddSparePart"
            android:label="@string/title_activity_add_spare_part"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ToDos"
            android:label="@string/title_activity_to_dos"
            android:noHistory="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".AddToDo"
            android:label="@string/title_activity_add_to_do"
            android:noHistory="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SparePartDetail"
            android:label="@string/title_activity_spare_part_detail"
            android:noHistory="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".EditSparePartRecord"
            android:label="@string/title_activity_edit_spare_part_record"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".AboutUs"
            android:label="@string/title_activity_about_us"
            android:noHistory="true"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>